<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg"
         class= "img-fluid "
         id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Aguilera Franco Mauricio</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem nam, doloribus voluptas soluta repudiandae
                 suscipit ullam modi dolorum quae necessitatibus nihil,
                illo sint debitis nulla laboriosam minus, quam quod atque?</p>
        </span>
    </div>


</div>